/* 
    Convención para agregar estilos

    1. Posicionamiento
    2. Modelado de caja
    3. Tipografía
    4. Estilos visuales
    5. Otros

*/

:root {

    /* Tipografía */
    --font-sans: 'DM Sans', sans-serif;
    --font-inter: font-family: 'Inter', sans-serif;

    --font-size-sans-small: 1.4rem;
    --font-size-sans-normal: 1.8rem;
    --font-size-sans-big: 2.4rem;

    --font-size-inter-small: 1.2rem;
    --font-size-inter-normal: 1.6rem;

    /* Colores */
    --Gray: #BABABA;
    --Soft-blue: #E7F5FF;
    --Off-white: #FAF8F7;
    --Just-white: #FFFFFF;
    --Warm-black: #201E1C;
    --Soft-orange: #FFE9D5;
    --Secondary-blue: #1A9AF7;
    --Bitcoin-orange: #F7931A;
    --Warm-black-plus-1: #282623;
    --linear-bg: 207.8deg, #201E1C 16.69%, #F7931A 100%;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font-sans);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;

    background: linear-gradient( var(--linear-bg) );

}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    height: 218px;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-weight: bold;
    font-size: var(--font-size-sans-big);
    line-height: 2.6rem;
    color: var(--Just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: var(--font-size-sans-small);
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--Soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--Off-white);
    /* Sombra */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-sans-small);
    font-weight: bold;
    text-decoration: none;
    color: var(--Warm-black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
    
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--Off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;  
}

.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .main-exchange-container__BGimg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url('../assets/img/Bitcoin.svg') center/cover no-repeat;
}